<!-- header begin -->
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Lintul不推荐您使用，为了更好的体验，请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a></p>
<![endif]-->
<!-- 页面内容  -->
<div class="container">
    <div class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
        <div class="am-u-sm-2 am-padding-horizontal-0">
            <img src="~/assets/images/logo.png" style="height:100px;" />
        </div>
        <div class="am-u-sm-8 am-padding-horizontal-0">
            <h1 class="am-text-left am-margin-bottom-0" style="line-height:60px;font-size:3.65rem">西南野生动植物资源保护教育部重点实验室</h1>
            <h5 class="am-margin-top-0 am-text-sm am-text-left">KEY LABORATORY OF SOUTHWEST CHINA WILDLIFE RESOURCES CONSERVATION(MINISTRY OF EDUCATION)</h5>
        </div>
        <div class="am-u-sm-2 am-padding-horizontal-0 am-text-right">
            <h3 class="am-text-left am-margin-bottom-0">开放流动</h3>
            <h3 class="am-text-left am-margin-top-0">联合竞争</h3>
        </div>
    </div>
</div>
<!-- header end -->