<!-- naver begin -->
<div class="container">
    <div class="am-g am-g-fixed blog-fixed blog-nav">
        <ul class="am-nav am-nav-pills am-topbar-nav-c">
            <li><a href="/">网站首页</a></li>
            <li><a href="/detail/index/1">实验室介绍</a></li>
            <li><a href="/detail/index/3">学术委员会</a></li>
            <li><a href="/detail/index/4">研究领域</a></li>
            <li><a href="/detail/index/5">研究团队</a></li>
            <li><a href="/detail/index/6">仪器设备</a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    申报平台 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="">客座人员申请</a></li>
                    <li><a href="">开放课题申请</a></li>
                    <li><a href="">实验仪器申请</a></li>
                    <li><a href="">对外服务申请</a></li>
                </ul>
            </li>
            <li><a target="_blank" href="http://cwnu.edu.cn/">学校主页</a></li>
        </ul>
    </div>
</div>
<!-- naver end -->