    <!-- search end -->
<div class="container">
    <div class="am-g am-g-fixed blog-fixed">
        <div class="am-form-group">
            <form action="/search/index" method="get">
                <div class="am-u-md-10 am-padding-horizontal-0">
                    <input type="text" class="am-form-field am-input-sm" name="key" maxlength="50" placeholder="关键词" title="关键词" style="width:100%;height:35px;margin-top:1px;border-right:none;">
                </div>
                <div class="am-u-md-2 am-padding-left-0">
                    <button class="am-btn" style="width:100%;background-color:#10D07A;color:#fff">搜索</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- search end -->