<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
<script src="~/Areas/Admin/Assets/js/jquery.min.js"></script>
<!--[if lte IE 8]>
    <script src="~/Areas/Admin/Assets/js/modernizr.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="~/Areas/Admin/Assets/js/amazeui.min.js"></script>
<script src="~/Areas/Admin/Assets/js/layer/layer.js"></script>
<script src="~/Areas/Admin/Assets/js/app.js"></script>