<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
        <ul class="am-list admin-sidebar-list">
            <li><a href="/admin/index/index"><span class="am-icon-home"></span> 首页</a></li>
            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 页面模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                    <li><a href="/admin/article/index"><span class="am-icon-list"></span> 文章列表</a></li>
                    <li><a href="/admin/article/add"><span class="am-icon-plus"></span> 添加文章</a></li>
                </ul>
            </li>
            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#collapse-nav-slider'}"><span class="am-icon-th-large"></span> 首页大图 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-slider">
                    <li><a href="/admin/slider/index"><span class="am-icon-list"></span> 大图列表</a></li>
                    <li><a href="/admin/slider/add"><span class="am-icon-plus"></span> 添加大图</a></li>
                </ul>
            </li>
            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#collapse-nav-user'}"><span class="am-icon-users"></span> 用户管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-user">
                    <li><a href="/admin/user/index"><span class="am-icon-list"></span> 用户列表</a></li>
                    <li><a href="/admin/user/add"><span class="am-icon-plus"></span> 添加用户</a></li>
                </ul>
            </li>
            <li><a href="/admin/user/detailself" class="am-cf"><span class="am-icon-user"></span> 个人资料</a></li>
            <li><a href="/admin/user/editself" class="am-cf"><span class="am-icon-yelp"></span> 个人资料修改</a></li>
            <li><a href="/admin/user/editpass"><span class="am-icon-pencil-square-o"></span> 修改密码</a></li>
            <li><a href="/admin/login/logoff"><span class="am-icon-sign-out"></span> 注销</a></li>
        </ul>

        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p><span class="am-icon-bookmark"></span> 公告</p>
                <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
            </div>
        </div>
        <div class="am-panel am-panel-secondary admin-sidebar-panel">
            <div class="am-panel-bd am-text-center am-text-sm">
                <p>
                    © Copyright
                    <script>var d = new Date(); document.write(d.getFullYear());</script>
                </p>
                <p>  西南野生动植物资源保护教育部重点实验室</p>
            </div>
        </div>
    </div>
</div>