<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
    <title>西南野生动植物资源保护教育部重点实验室</title>
    <meta name="renderer" content="webkit">
    <link rel="alternate icon" type="image/png" href="/favicon.png">
    <link href="~/Assets/css/amazeui.min.css" rel="stylesheet" />
    <link href="~/Assets/css/app.css" rel="stylesheet" />
    <!--[if lte IE 8 ]>
        <script src="~/Assets/js/modernizr.min.js"></script>
        <script src="~/Assets/js/amazeui.ie8polyfill.min.js"></script>
     <![endif]-->

    <style>
        .am-panel-bd {
            font-size: 2rem;
            font-weight: bold;
            padding: 14rem;
        }

        body {
            height: 100% !important;
        }

    </style>
</head>
<body id="blog">
    @Html.Partial("Header")
    @Html.Partial("Naver")
    <!-- content srart -->
    <div class="container">
        <div class="am-panel am-margin-bottom-0">
            <div class="am-panel-bd am-padding-horizontal-0">
                <h1 class="am-text-center">不见了哦</h1>
            </div>
        </div>
    </div>
    <!-- content end -->
    @Html.Partial("Footer")
</body>
</html>
